* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg: #eeeeee;

  --active: #fe7474;

  --lightblue: #6cc6ff;
  --red: #fe7474;
  --white: #f5f5f5;
  --black: #535353;
  --text: #333333;
  --text-contrast: #f5f5f5;
  --subtext: #7d7d7d;

  --card: #1b1b1b;
  --card-modal: #1b1b1b;
  --x: #f5f5f5;

  --themebg: #fe7474;
  --theme: #f5f5f5;

  --Tline: rgba(58, 58, 58, 0);
  --hoverT: #d3d3d3;

  --input: #fff;
  --inputT: #333;

  --skeleton: #e6e6e6;

  --red: #fe7474;
  --info: #ffc72c;

  --h1: 21px;
  --h2: 21px;
  --text: 18px;
}
.darkmode {
  --bg: #181818;

  --active: #fe7474;

  --lightblue: #6cc6ff;
  --red: #fe7474;
  --white: #1d1d1d;
  --black: #cfcfcf;
  --text: #333333;
  --text-contrast: #f5f5f5;
  --subtext: #7d7d7d;

  --themebg: #fe7474;
  --theme: #f5f5f5;

  --hoverT: #636363;

  --input: #242424;
  --inputT: #bebebe;

  --red: #fe7474;
  --info: #ffc72c;

  --h1: 21px;
  --h2: 21px;
  --text: 18px;
}
.wrapper {
  color: var(--black);
  background-color: var(--bg);
  display: flex;
  height: 100vh;
}
main {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.content {
  padding: 1em;
}
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000d7;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  z-index: 99999999;
}
.modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);
  z-index: 9999999999;
  background-color: var(--card);
  color: var(--text-contrast);
  margin: auto;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.close {
  width: 100%;
  display: flex;
  justify-content: right;
}
.close svg {
  fill: var(--x);
  cursor: pointer;
}
.centerModaltext {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.card-cont {
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  max-height: fit-content;
  border-radius: 10px;
  background-color: var(--card);
}
.bold {
  font-weight: 800;
}
.light {
  font-weight: 300;
}

.title {
  color: var(--red) !important;
  font-weight: 800;
}
.title2 {
  color: var(--black) !important;
  font-weight: 300;
}
a {
  text-decoration: none;
}
.qrcode-cont {
  background-color: var(--white);
  width: fit-content;
  border-radius: 10px;
  padding: 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.qrcode-cont canvas {
  border-radius: 10px;
  width: fit-content;
}
.qrcode-cont p {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .wrapper {
    flex-direction: column;
  }
  .content {
    padding: 0.5em;
    margin-bottom: 90px;
  }
}
