.banner {
  width: 100%;
  min-height: 45px;
  padding: 1em;
  background-color: var(--red);
  color: var(--text-contrast);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.donate {
  color: var(----text-contras);
  text-decoration: underline;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.2 ease;
}
.bannerHeart {
  fill: var(--red) !important;
  min-width: 21px;
  max-width: 21px;
  margin-left: 1em;
}
.donate:hover {
  opacity: 0.7;
}
